@import '../../Variables.scss';

.modal-container {
  position: fixed;
  background-color: #0000001a;
  top: 0;
  left: 0;
  z-index: 9999;
  @include flex-center;
  width: -webkit-fill-available;
  height: 100vh;
}
