$text-color: #2b2b2b;
$main-bg: #efefef;
$error: #b83f3f;
$border-radius-sm: 0.8rem;
$border-radius-lg: 1.6rem;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
